/* Модальное окно */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    padding: 10px 0;
    z-index: 1;
}

.modal {
    background: #FCFCFD;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto 10px;
    position: relative;
    display: none;
    overflow-y: scroll;
    width: 1234px;
}

.close {
    float: right;
    cursor: pointer;
}

.mdlbutton {
    width: 137px;
    height: 32px;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 1px #E5E7EB solid;
    font-weight: bolder;
    align-items: center;
}

.modal__wrapper {
    display: flex;
    flex-direction: column;
}

/* Первая */
.modal_list__wrapper {
    padding: 19px 49px 35px 30px;
}

.modal__list-container {
    display: flex;
    gap: 122px;
}


.modal__list_right {
    flex: 1;
}

.modal__list-header {
    text-align: center;
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 55px;
}

/* Лист который создаться при выборе */
#selectedItems {
    list-style: none;
    padding: 0;
}

#selectedItems li {
    margin-bottom: 9px;
    width: 404px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: normal;
    background: var(--White, #FFF);
    box-shadow: rgba(0, 0, 0, 0.87);
}

#selectedItems li:hover {
    background-color: #666666;
}

.addItemButton {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: var(--color-light-mode-primary-primary, #3772FF);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    width: 234px;
    text-align: center;
    color: #FFF;
    padding: 20px 0;
}

/* Вторая */
.modal_pay__wrapper {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ПОЛЕ 1 */
.pole-container {
    display: none;
    padding: 7px;
    /* display: flex; */
    position: absolute;
    top: -25%;
    left: 35%;
    gap: 200px;
}

.pole-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Календарь */
.date-picker-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.date-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-picker-container input[type="date"] {
    text-align: center;
    width: 232px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid var(--color-light-light-3, #DFDFE6);
    background: var(--color-light-light, #FCFCFD);
    margin-bottom: 32px
}

.date-picker-container label {
    color: var(--color-dark-dark-2, #87898E);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

/* для списков */
.dropdownPayment {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 16px 16px 30px;
    background: #FCFCFD;
    border-radius: 12px;
    border: 2px #DFDFE6 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    margin-bottom: 30px;
}

.client-svg {
    position: absolute;
    top: 8%;
    left: 26%;
}

/* Сумма */
.itemsSum {
    width: 552px;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid var(--color-light-light-3, #DFDFE6);
    background: var(--color-light-light, #FCFCFD);
    margin-bottom: 32px;
}

#addItemForm input[type="submit"] {
    background: none;
    border: none;
    width: 270px;
    height: 66px;
    padding: 20px 0px;
    border-radius: 10px;
    background: var(--color-light-mode-primary-primary, #3772FF);
    color: #FFF;
}

#addItemForm input[type="submit"]:hover {
    color: #000;
}

/* Модал 2 */
.modal-container-2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    padding: 10px 0;
    z-index: 2;
}

.modal2 {
    background: #FCFCFD;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto 10px;
    position: relative;
    display: none;
    width: 586px;
}

.list {
    margin-top: 20px;
    border-collapse: none;
}

.list_content {
    align-items: center;
    padding: 12px 16px;
    background: var(--White, #FFF);
    color: #000;
    font-size: 20px;
    font-weight: normal;
}

.list_content:hover {
    background-color: #b8b8b8;
}

.addItemButton:hover {
    color: #000;
}

/* Модал 3 */
.service-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    padding: 10px 0;
    z-index: 4;
}

.service-modal {
    background: #FCFCFD;
    padding: 10px 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px auto 10px;
    display: none;
    width: 400px;
}

.service__wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}

.close3 {
    float: right;
    cursor: pointer;
}