/* default settings */
body {
    background: #F1F1F4;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

main {
    display: flex;
    position: relative;
}

.rents__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 76px;
    width: 100%;
}

/* Настройка для header */
.rents__header {
    display: flex;
    padding: 12px 0 18px 24px;
    align-items: center;
    justify-content: space-between;
}

.rents__left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rents__search {
    padding: 4px 0 4px 12px;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    width: 240px;
}

.rents__search-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background: none;
}

/* Для "фильтра" */
.rents-filter {
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.rents__filter {
    position: relative;
}

.rents__filter svg {
    position: absolute;
    right: 3%;
    top: 25%;
}

.rents-sortirovka {
    width: 135px;
}

/* Счет заказов */
.rents__score {
    display: flex;
    gap: 8px;
}

.rents-score {
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* Таблица */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFF;
}

table,
td,
th,
tr {
    border: 1px solid #F9FAFB;
}

.table__header th {
    color: var(--gray-500, #6B7280);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 12px 24px;
    background-color: #F9FAFB;
}

.table-row:hover {
    background-color: #F9FAFB;
}

input[id="rentCheck"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
}

input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: block;
}

input[type="checkbox"]:checked+label::before {
    content: '✔';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #3772FF;
}

/* Параметры колонок */
.colone {
    color: var(--gray-500, #6B7280);
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 18px;
}

.colone-status {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 16px 24px;
}

.colone-items {
    font-weight: 400;
}

.colone-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.colone-edit {
    text-align: right;
}

.close2 {
    float: right;
}

#NotRentedInventoryTable tr:hover {
    background-color: #c0c0c0;
}

.form-input {
    width: 370px;
    box-sizing: border-box;
    padding: 16px 16px 16px 30px;
    background: #FCFCFD;
    border-radius: 12px;
    border: 2px #DFDFE6 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    margin-bottom: 30px;
}

.service-modal {
    text-align: center;
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;
}

.service-btn {
    background: none;
    width: 270px;
    height: 66px;
    padding: 20px 0px;
    border-radius: 10px;
    background: #3772FF;
    color: #FFF;
}

.service-btn:hover {
    color: #000;
    background: #2062fc;
}

.buttonCenter {
    align-self: center;
}

/* натсройки для карточек в "Создать аренду" */
.itmes__wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-top: 5px;
}

.item-card {
    padding: 40px 15px;
    border-radius: 15px;
    background-color: #f1eded;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.item-card:nth-last-child(even) {
    background-color: #F1F1F4;
}

.item_card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bold;
}

.item_card-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 18px;
}

.item_card-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item_card-damage {
    height: 50px;
}

.item_card-damage th {
    font-size: 18px;
    text-align: center;
}

.item_card-damage td {
    font-size: 17px;
    text-align: center;
}

#RentMainModal {
    overflow-y: scroll;
    height: 80vh;
}