/* default settings */
body {
    background: var(--color-light-light, #FCFCFD);
    margin: 0;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

table {
    margin-top: 50px;
    width: 50%;
}

/* Параметры модального окна */
.tasks__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    width: 544px;
}

/* Верхняя часть */
.tesks__headling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.svg-cross {
    cursor: pointer;
}

/* Строчка "Название задачи" */
.task {
    border-radius: 12px;
    border: 2px solid var(--color-light-light-3, #DFDFE6);
    background: var(--color-light-light, #FCFCFD);
    color: var(--color-dark-dark-2, #87898E);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 16px;
    margin-bottom: 24px;
}

/* Центр */
.tasks__center {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}

.tasks__center-text {
    color: var(--color-dark-dark-2, #87898E);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

/* Строчка для выбора цвета */
.tasks__center-color {
    display: flex;
    gap: 16px;
    align-items: center;
}

.text-color {
    color: var(--color-dark-dark, #23262F);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* Одна строчка для формы круга */
.color-circle {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* Цвета кругов */
.color-gray {
    background: #C0C2C5;
}

.color-blue {
    background: #8AC7FF;
}

.color-yellow {
    background: #FFC273;
}

.color-red {
    background: #FF6868;
}

/* Для сотрудника */
.employees {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 12px;
    border: 2px solid var(--color-light-light-3, #DFDFE6);
    background: var(--color-light-light, #FCFCFD);
    padding: 5px 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-dark-dark-2, #87898E);
    width: 100%;
    height: 56px;
    cursor: pointer;
}

.tasks__employees {
    position: relative;
    margin-bottom: 24px;
}

/* Иконки */
.task-employee {
    position: absolute;
    left: 3%;
    top: 28%;
}

.task-strelka {
    position: absolute;
    right: 4%;
    top: 30%;
}

/* Кнопка */
.tasks__end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTaskButton {
    padding: 20px 0;
    border-radius: 10px;
    background: var(--color-light-mode-primary-primary, #3772FF);
    width: 270px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    color: var(--color-light-light, #FCFCFD);
}

.addTaskButton:hover {
    color: #000;
}

/* Сделаю позже */
.date {
    margin-bottom: 32px;
}

/* default settings */
body {
    background: #F1F1F4;
    margin: 0;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

main {
    display: flex;
}

/* Центр сайта */
.tasks__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    flex: 1;
}

/* Вверх сайта */
.tasks__header {
    display: flex;
    padding: 12px 0 18px 24px;
    align-items: center;
    justify-content: space-between;
}

/* Настройка для левой стороны header */
.tasks__left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tasks__search {
    padding: 4px 0 4px 12px;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    width: 240px;
}

.tasks__search-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background: none;
}

/* Для "фильтра" и "сортировки" */
.tasks-filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: var(--border-radius-rounded-md, 6px);
    border: 1px solid var(--gray-200, #E5E7EB);
    background: var(--White, #FFF);
    padding: 4px 12px 4px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    height: 32px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.tasks__filter {
    position: relative;
}

.tasks__filter svg {
    position: absolute;
    right: 3%;
    top: 25%;
}

.tasks-sortirovka {
    width: 135px;
}

/* Параметры текста клиентов */
.clients-score {
    color: var(--slate-500, #64748B);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* Таблица */
table {
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th,
tr {
    border-top: 1px solid var(--gray-200, #E5E7EB);
    border-bottom: 1px solid var(--gray-200, #E5E7EB);
}

.table__header th {
    color: var(--slate-800, #1E293B);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    align-items: center;
    text-align: start;
    padding: 10px 16px;
}

/* Параметры для колонок */
.table-colon2 {
    font-weight: 400;
    font-family: "Inter" sans-serif;
    font-display: swap;
}

.table-colon {
    padding: 10px 16px;
    color: var(--slate-800, #1E293B);
    font-size: 20px;
    font-family: "Inter" sans-serif;
    font-weight: 600;
    font-display: swap;
    line-height: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    width: 540px;
    height: 560px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mdlbutton {
width: 137px;
height: 32px;
background: white;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: 1px #E5E7EB solid;
font-family: "Inter", sans-serif;
font-weight: bolder;
display: inline-flex;
align-items: center;
justify-content: space-between;

}

.delSelectedBtn {
    background: white;
    height: 32px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 1px #E5E7EB solid;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
}
input[type="date"]{
    background-color: #0080ff;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: "Inter",sans-serif;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}